<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Pastebin</title>
    {% block head %} {% endblock %}
</head>
<body bgcolor="#464343">
    <div class="flex justify-between text-4xl my-3">
        <div class="flex ml-10 text-white">
                <a href="/pages/main" >Pastebin</a>
        </div>
        <div class="absolute top-0 right-0 text-white text-2xl mr-10 my-3">
            {% block auth_action %}
            {% if user is not none %}
            <a href="/pages/profile/{{user.id}}">{{ user.username }}</a>
            {% else %}
            <a class="mr-10" href="/pages/registration">Регистрация</a>
            <a href="/pages/login">Войти</a>
            {% endif %}
            {% endblock%}
        </div>
    </div>
    <hr>
    <div id="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>