{% extends "base.html" %}
{% block head %}
<script>
  async function send_data(data){
    const username = data.get('username')
    const password = data.get('password')
    return await fetch('/auth/jwt/login', {
      method: 'POST',
      headers: {'accept': 'application/json', 'Content-Type': 'application/x-www-form-urlencoded'},
      body: `grant_type=&username=${username}&password=${password}&scope=&client_id=&client_secret=`,
    })
  }
  async function form_handler(event){
    event.preventDefault()
    const data = new FormData(event.target)
    const response = await send_data(data)

    if (response.ok){
      window.location.href = '/pages/main'
    }
    else if (response.status === 400){
      document.getElementById('form_error').innerHTML ='Неверный email или пароль'
    }
    else{
      alert('Произошла ошибка!')
    }
  }

  window.onload=function () {
    const application_form = document.getElementById('login_form')
    application_form.addEventListener('submit', form_handler)
  }
</script>
{% endblock%}
{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Войти</h2>
  </div>
  <form id='login_form' action="/auth/jwt/login" method="POST" autocomplete="on">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div>
      <label for="email" class="block text-sm font-medium leading-6 text-white">Email </label>
      <div class="mt-2">
        <input id="email" name="username" type="email" autocomplete="email" required class="block w-full rounded-md bg-zinc-800 border-0 py-1.5 text-white shadow-sm">
      </div>
    </div>

    <div>
      <div class="flex items-center justify-between">
        <label for="password" class="block text-sm font-medium leading-6 text-white">Пароль</label>
      </div>
      <div class="mt-2">
        <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md bg-zinc-800 border-0 py-1.5 text-white shadow-sm">
      </div>
    </div>

    <div id="form_error" class="text-red-600 text-sm"></div>

    <div class="mt-4">
      <button type="submit" class="flex w-full justify-center rounded-md bg-zinc-800 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Войти</button>
    </div>
  </div>
  </form>
</div>
{% endblock %}