{% extends "base.html" %}

{% block head %}
<script>
  async function send_data() {
    const response = await fetch('/paste',{
      method: "POST",
      headers: {"Accept": "application/json", "Content-Type": "application/json"},
      body: JSON.stringify({
        message: document.getElementById("message").value,
        lifetime: document.getElementById("lifetime").value
      })
    });
    if (response.ok === true) {
      const data = await response.json();
      const paste_id = data['data']['id']
      console.log(paste_id);
      window.location.href = '/pages/?id_paste=' + paste_id;
    }
    else {
      window.alert("Произошла ошибка!")
      const error = await response.json();
      console.log(error.message);
    }
  }
</script>
{% endblock %}

{% block content %}

  <div>
    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New paste</label>
    <textarea id="message" rows="4" class="block p-2.5  text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
  </div>

  <div>
    <label for="lifetime" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an option</label>
    <select  id="lifetime" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option selected>Время жизни записи</option>
      <option value="10M">10 минут</option>
      <option value="1W">1 неделя</option>
      <option value="2W">2 недели</option>
      <option value="1M">1 месяц</option>
      <option value="3M">3 месяца</option>
      <option value="6M">6 месяцев</option>
      <option value="1Y">1 год</option>
    </select>
  </div>

  <div>
    <button onclick="send_data()" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Создать запись</button>
  </div>

{% endblock %}