{% extends "base.html" %}

{% block head %}
<script>
  async function send_data() {
    const response = await fetch('/paste',{
      method: "POST",
      headers: {"Accept": "application/json", "Content-Type": "application/json"},
      body: JSON.stringify({
        message: document.getElementById("message").value,
        lifetime: document.getElementById("lifetime").value
      })
    });
    if (response.ok === true) {
      const data = await response.json();
      const paste_id = data['data']['id']
      console.log(paste_id);
      window.location.href = '/pages/?id_paste=' + paste_id;
    }
    else {
      window.alert("Произошла ошибка!")
      const error = await response.json();
      console.log(error.message);
    }
  }
</script>
{% endblock %}

{% block content %}

  <div class="grid grid-cols-6 ml-20 mt-10 text-x text-white">
    <div></div>

    <div class="col-span-4">
      <label for="message" class="block mb-2 text-sm font-medium text-white">Новая запись</label>
      <textarea id="message" rows="30" class="block p-2.5 w-full text-sm rounded-lg border  bg-zinc-800 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"></textarea>

      <div class="mt-5">
      <label for="lifetime" class="block mb-2 text-sm font-medium text-white">Время существования записи</label>
      <select  id="lifetime" class="text-sm rounded-lg block p-2.5 bg-zinc-800 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
        <option selected value="10M">10 минут</option>
        <option value="1W">1 неделя</option>
        <option value="2W">2 недели</option>
        <option value="1M">1 месяц</option>
        <option value="3M">3 месяца</option>
        <option value="6M">6 месяцев</option>
        <option value="1Y">1 год</option>
      </select>
      </div>

      <div class="mt-5">
      <button onclick="send_data()" type="button" class="font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-zinc-800 hover:bg-blue-700 focus:outline-none focus:ring-blue-800">Создать запись</button>
      </div>
    </div>

    <div></div>
  </div>


{% endblock %}